.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas iguales */
    gap: 20px;
    /* Espacio entre columnas (opcional) */
    align-items: center;
    /* Alineación vertical (opcional) */
    background-color: black;
    height: 150vh;
    background-image: url(/images/Copilot_20251003_180044.png);
    
}

.delicious {
    font-size: 23px;
    font-weight: normal;
    color: white;
    margin-left: 50px;
}

.image1 {
    width: 100%;
    height: 80%;
}